{% extends '_layout.html' %}

{% block title %}View profile{% endblock %}

{% block content %}

<h1>{{ result.first_name }} {{ result.last_name }}</h1>

<p><a href="mailto:{{ result.email }}">{{ result.email }}</a></p>

<img src="{{ url_for('static', filename='images/' + (result.avatar or 'default.png')) }}" height="200">

<p>
    <a href="/edit?id={{ result.id }}">Edit</a>
    <a href="/delete?id={{ result.id }}" onclick="return confirm('Are you sure?')">Delete</a>
</p>
<p>
    <a href="{{ url_for('list_users') }}">Back to dashboard</a>
</p>

{% endblock %}
